body{
    background-color: lightgreen;
    font: normal 15pt Arial;

}

header {
    color: white;
    text-align: center;
    
}

section{
        background-color: white;
        border-radius: 20px;
        padding:  15px;
        width: 500px;
        margin: auto;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.66);
        

}

div {
    text-align: center;
    padding: 5px;
}

footer{
        color: white;
        text-align: center;
        font-style: italic;
}